[submodule "modules/nginx"]
	path = modules/nginx
	url = https://github.com/example42/puppet-nginx.git
[submodule "modules/php"]
	path = modules/php
	url = https://github.com/saz/puppet-php.git
[submodule "modules/ntp"]
	path = modules/ntp
	url = https://github.com/saz/puppet-ntp.git
[submodule "modules/phpqatools"]
	path = modules/phpqatools
	url = https://github.com/rafaelfelix/puppet-phpqatools.git
[submodule "modules/pear"]
	path = modules/pear
	url = https://github.com/rafaelfelix/puppet-pear.git
[submodule "modules/apt"]
	path = modules/apt
	url = https://github.com/puppetlabs/puppetlabs-apt.git
[submodule "modules/stdlib"]
	path = modules/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib.git
[submodule "modules/apache"]
	path = modules/apache
	url = https://github.com/puppetlabs/puppetlabs-apache.git
[submodule "modules/dropbox"]
	path = modules/dropbox
	url = https://github.com/alister/puppet-dropbox.git
[submodule "modules/sublimetext2"]
	path = modules/sublimetext2
	url = git@github.com:alister/puppet-sublimetext2.git
[submodule "modules/composer"]
	path = modules/composer
	url = git://github.com/dazz/puppet-composer.git
