[submodule "modules/nginx"]
	path = modules/nginx
	url = https://github.com/example42/puppet-nginx.git
[submodule "modules/php"]
	path = modules/php
	url = https://github.com/saz/puppet-php.git
[submodule "modules/ntp"]
	path = modules/ntp
	url = https://github.com/saz/puppet-ntp.git
[submodule "modules/phpqatools"]
	path = modules/phpqatools
	url = https://github.com/rafaelfelix/puppet-phpqatools.git
[submodule "modules/pear"]
	path = modules/pear
	url = https://github.com/rafaelfelix/puppet-pear.git
[submodule "modules/apt"]
	path = modules/apt
	url = https://github.com/puppetlabs/puppet-apt.git
[submodule "modules/stdlib"]
	path = modules/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib.git
[submodule "modules/dropbox"]
	path = modules/dropbox
	url = https://github.com/cwarden/puppet-dropbox.git
