[submodule "modules/nginx"]
	path = modules/nginx
	url = https://github.com/example42/puppet-nginx.git
[submodule "modules/php"]
	path = modules/php
	url = https://github.com/saz/puppet-php.git
[submodule "modules/ntp"]
	path = modules/ntp
	url = https://github.com/saz/puppet-ntp.git
